@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --font-family: sans-serif;
  --aspect-ratio: 16 / 10;
  --width: 960px;
}

html,
body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #000;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  html,
  body {
    background-color: white;
    color: black;
  }
}

.touch_zone {
  display: none;
  position: absolute;
  width: min(250px, 25%);
  height: min(250px, 25%);

  &.touch_zone--bottom-left {
    left: 0;
    bottom: 0;
  }

  &.touch_zone--bottom-right {
    right: 0;
    bottom: 0;
  }

  &.touch_zone--top-left {
    left: 0;
    top: 0;
  }

  &.touch_zone--top-right {
    right: 0;
    top: 0;
  }
}
