body {
  margin: 0;
  text-align: center;
  padding: 0;
  width: 100vw;
  background: #e5e5e5;
  font-family: Arial;
  font-size: 14px;
}

div {
  margin: 0 auto;
}

.main {
  padding: 0;
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* background: url("/home/jmh/projects/another_js/src/commodore-amiga.jpg"); */
}

.container {
  width: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.intro {
  width: 960px;
  text-align: left;
}

footer {
  background-color: #eeeeee;
  margin: 20px 0px 0px 0px;
  padding: 8px;
}

#game {
  display: none;
  position: relative;
  width: 100vw;
}

#game:-webkit-full-screen {
  width: 100% !important;
}
#game:-moz-full-screen {
  width: 100% !important;
}

#game:-ms-fullscreen {
  width: 100% !important;
}

#game:fullscreen {
  width: 100% !important;
}

.square,
.square2 {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 10px;
  width: 100px;
  height: 100px;
}

.square2 {
  left: auto;
  right: 10px;
}

#preload {
  position: relative;
  display: inline-block;
}

#start {
  position: absolute;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  font-size: 1rem;
  border: none;
  left: 0;
  right: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 20px;
}

.start-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* .controls {
  display: none;
} */
